
.topArea {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(38, 198, 218);  
  z-index: 1;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentArea {
  flex-grow: 1;
  max-width: 1300px;
  margin-left: 350px;
  // margin-top: 50px;
  padding-top: 20px;
  overflow-y: auto;
}
.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}
table th {
  font-weight: 500;
}


.table>:not(:first-child) {
  border-top: 2px solid;
}
.table-borderless>:not(:first-child) {
  border-top-width: 0;
}